<header>
    <h1 class="site-title">RPTools</h1>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink active"><a href="/">Home</a></li>
            <li class="navitem navlink"><a href="/buildgen">BuildGen</a></li>
            <li class="navitem navlink"><a href="#">OtherTool</a></li>
            <li class="navitem navbar-gen">
                <button type="button" id="navbar-gen-button">Generate</button>
            </li>
            <li class="navitem navbar-post">
                <button type="button" id="navbar-post-button">Post</button>
            </li>
        </ul>
    </nav>

 </header>