<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>BuildGen</title>

		<link rel="stylesheet" href="/style.css" media="screen">

		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
		<script src="/descriptionTextTemplate.js" charset="utf-8" defer></script>
		<script src="/postTemplate.js" charset="utf-8" defer></script>
		<script src="/index.js" charset="utf-8" defer></script>
		<script src="/buildgen.js" charset="utf-8" defer></script>
	</head>
	
	<body>
		{{{body}}}
	</body>
</html>