{{> header}}
<main class="main-container home"> 
    <p>
        <span class="tab"></span>
        Hello, and welcome to RPTools! This website was created to aid
        Game Masters in running their campaigns by providing them with 
        useful tools. 
        The paragraphs below detail the available tools on this site and 
        how to use them.
    </p>

    <p>
        <div>
            <span class="tab"></span>BuildGen is a tool designed to help Game Masters 
            quickly create aroom or building in their world. It's useful for large cities 
            or towns, as it circumvents having to think of what *every* building in an 
            area looks like in addition to thinking of what's inside each building.
        </div>
        <div>
            <span class="tab"></span>To use Buildgen, simply select the theme(s) you 
            would like to see in your room/building, then click the "Generate" button 
            located in the navbar. 
            The text generated will describe a room/building of the
            themes you selected. For example, selecting "Spooky" and "General Shop"
            might give you a general store that is mostly filled with normal goods,
            but in the west end of the shop there is a scary skeleton. 
        </div>
        <div>
            <span class="tab"></span>Generated text is editable, so you are able to 
            change and add onto generated descriptions as much as you'd like!
            You may notice a large empty space directly right of the generated text.
            This area will be used for posting and viewing user-created descriptions 
            in the future.
        </div>
    </p>
</main>