{{> header}}
<main class="main-container home"> 
    <p>
        Hello, and welcome to RPTools! This website was created to aid
        Game Masters in running their campaigns via providing useful tools.
        The paragraphs below detail the available tools on this site and 
        how to use them.
    </p>

    <p>
        BuildGen is a tool designed to help Game Masters quickly create a
        room or building in their world. It's useful for large cities or 
        towns, as it circumvents having to describe *every* single building 
        and *everything* that's inside of the building
    </p>
</main>