/*Possible reds: #ba3030, #bd3939, #cf5151*/
/*Possible silvers: #e3e3e3,*/

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

textarea {
    width: 400px;
    height: 480px;
    font-size: 14px;
	font-style: italic;
    font-family: Helvetica, sans-serif;
}

.tab {
	display: inline-block;
	margin-left: 45px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.site-title {
	margin: 40px 5% 0px 5%;
	padding: 10px 20px;
	font-size: 45px;
	font-weight: 500;
	text-shadow: 0px 0px 3px #e3e3e3;
	background-color: #ba3030;
	color: whitesmoke;
	border-style: solid;
	border-color: #e3e3e3;
	border-width: 2px;
	border-radius: 3px;
	position: relative;
	z-index: 1;
	
	min-width: 966px;
}

.navbar{
	margin-top: -10px;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-color: #e3e3e3;
	border-width: 2px;	
	background-color: #b8b8b8;
	border-radius: 3px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 15px 25px -13px black;
	
	
	min-width: 1006px;
}

.navbar a{
	color: #303030;
}

.navbar a:hover {
	color: #ba3030;
}

.active a {
	color: #e3e3e3;
}


.navlist {
	margin: 8px 0 8px;
	padding-left: 20px;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
}

.navitem {
	display: inline-block;
	padding-right: 10px;
}

.navbar-post {
	display: none;
	position: absolute;
	top: 15%;
	right: 18.5%;
}

.navbar-gen {
	position: absolute;
	right: 53.3%;
}

#navbar-gen-button,
#navbar-post-button{
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	
	text-shadow: 0px 0px 4px whitesmoke;
	background-color: #ba3030;
	color: #e3e3e3;
	border-style: solid;
	border-color: #e3e3e3;
	border-radius: 6px;
	position: relative;
}



.main-container {
	margin: 0 5% 0;
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	padding-left: 1.0%;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px 5px silver;
	
	min-width: 1000px;
}

.home {
	flex-direction: column;
	padding-top: 1.5%;
	padding-bottom: 2%;
	padding-bottom: 30%;
	padding-left: 3%;
	padding-right: 15%;
}

.home p {
	margin-bottom: 0px;
}

.home div {
	padding-top: 2px;
}

.user-info {
	padding-right: 5%;
}

.theme-selection {
	padding: 20px 1% 0;
	flex: 0 0 12%;
	min-width: 150px;
	border-style: none solid none none;
	border-color: #ba3030;
	border-width: 2px;
}

label[for="Room"],
label[for="Building"] {
	font-size: 24px;
	padding: 8px;
	font-weight: 600;
	color:#ba3030;
	
}

.discription-content {
	padding: 20px;
	flex: 0 0 26%;
	min-width: 350px;
	border-style: none solid none none;
	border-color: #ba3030;
	border-width: 2px;
}

.posts-content{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 45%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.post {
	max-width: 250px;
	border: 6px double #c9c1a1;
	border-radius: 8px;
	padding: 15px;
	Margin: 5px;
}

.post:hover {
	cursor: pointer;
}

.post-name {
	margin: 1px;
	margin-bottom: 5px;
	text-align: center;
	overflow: auto; 
}

.post-author {
	margin: 1px;
	overflow: auto; 
}

.post-date {
	margin: 1px;
}

.post-type {
	margin: 1px;
}

.post-data {
	margin-top: 10%;
	overflow: auto;
	text-overflow: ellipsis;
	max-height: 190px;
}

.hidden {
   display: none;
}

#create-post-modal {
	position: fixed;
	top: 0;
	bottom: 90px;
	left: 0;
	right: 0;
	z-index: 1010;
	overflow: clip;
}

.modal-dialog {
	max-width: 600px;
	min-width: 350px;
	min-height: 300px;
	margin: 40px auto;
	background-color: #fff;
	border-radius: 6px;
	border-style: solid;
	
}

.modal-header {
	position: relative;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	
	text-shadow: -3px 1px 10px whitesmoke;
	
	background-color: #ba3030;
	color: #e3e3e3;
	
	border-style: none none solid none;
	border-color: #e3e3e3;
	border-width: 6px;
}

.modal-header h3 {
	margin: 0;
	font-size: 32px;
}

.modal-close-button {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 24px;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.modal-body {
	background-color: whitesmoke;
	padding: 20px;
	box-shadow: inset 0px 0px 10px 5px silver;
}

.modal-footer {
	display: flex;
	background-color: #b8b8b8;
	justify-content: flex-end;
	padding: 10px 10px 20px 10px;
	
	border-style: solid none none none;
	border-color: #e3e3e3;
	border-width: 6px;
}

.modal-accept-button,
.modal-cancel-button {
	font-size: 20px;
	font-weight: 600;
	background-color: whitesmoke;
	color: #ba3030;
	border: 3px solid #c9c1a1;
	border-radius: 5px;
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;
}

.post-input-element {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.post-input-element label {
	
	margin-right: 12px;
	font-weight: 600;
	text-align: right;
	flex: 1 65px;
	
}

.post-input-element input,
.post-input-element textarea {
	flex: 6 200px;
	padding: 8px;
	border: 3px solid #e3e3e3;
	border-radius: 3px;
	font-size: 16px;
	background-color: #b8b8b8;
}

.post-input-element input:focus,
.post-input-element textarea:focus{
	outline: none;
	border: 3px solid #c9c1a1;
	background-color: #f2f2f2;
}

.post-input-element textarea {
	min-height: 32px;
}

.error-container {
	margin: 0 5% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: whitesmoke;
	border-style: none;
	border-color: #000000;
	padding: 2.5%;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px 5px silver;
}
